[submodule "proto"]
	path = protos
	url = https://github.com:tsinghua-fib-lab/cityproto.git
[submodule "src/lib/fmt"]
	path = src/lib/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "src/lib/yaml-cpp"]
	path = src/lib/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp.git
[submodule "src/lib/argparse"]
	path = src/lib/argparse
	url = https://github.com/p-ranav/argparse.git
[submodule "src/lib/pybind11"]
	path = src/lib/pybind11
	url = https://github.com/pybind/pybind11.git
